@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

img {
  width: 40px;
  height: 40px;
}

.signin-with-google-button {
  display: flex;
  align-items: center;  /* Align text and image in the center */
  gap: 10px;  /* Add space between text and logo */
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(251, 221, 166);
  border: 2px gray;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Ubuntu';
  margin-top: -80px;
}

.signin-with-google-button:hover {
  background-color: rgb(251, 215, 147);
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: 'Ubuntu';
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

.sub-title {
  @extend .title;
  font-size: 20px;
  color: gray;
  margin-top: 10px;
}

.welcome-user {
    text-align: center;
    font-size: 100px;
    font-family: 'Ubuntu';
    margin: 20px;
}

.loading {
    text-align: center;
    font-family: 'Ubuntu';
    position: fixed;
    top: 50%;
    left: 50%;
  }

.todo-field {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.todo-input {
  width: 200px;
  height: 40px;
  text-align: center;
}